@import url(./normalize.css);
:root {
  --bs-form-invalid-color:#ffff99;
  --bs-form-valid-color:#bfb0ff;
  --bs-form-valid-border-color:#8400ff;

}

/* input:valid:checked {
  background-color: var(--bs-form-valid-color);
} */
/* ******************* ESTILOS GENERALES ************************* */
#title-hero,
.paragraph-necesitas,
.paragraph-curso-online,
.paragraph-inscribete,
.title-faq-section,
.paragraph-faq-section,
#paragraph-course-details,
.card-title,
.title-modules-themes,
#modules-themes,
.background-form {
  color:var(--bs-form-invalid-color);
}
/* .title-modules-themes,
#modules-themes {
  color:var(--bs-form-invalid-color);
} */

.paragraph,
.descuentos,
.beneficios,
.card-text {
  color: #fac75f;
}

.title-aprenderas,
.list-block-two,
footer {
  color: #ffd683;
}

#box-card-caroline {
  padding: 0;
}
/* ..........BOTONES LLAMADO A LA ACCION ........... */
.cta {
  background-color:var(--bs-form-invalid-color);
  /* height: 30px;
  padding: 0.2em;*/
  color: #19041d;
}

.cta:hover {
  background-color: #b473d3;
  color: var(--bs-form-invalid-color);
}

body{
  background-color:#691b72 ;
}
/* ******************* HEADER ************************* */
header {
  background-color: #481350;
  /* background-color:linear-gradient(#46134f, #8a236d, #30044b) ; */
}
#logo {
  /* width: 9%; */
  padding: 0;
}

/* ******************* BLOCK- ONE ************************* */
#block-one {
  background: linear-gradient(#46134f, #8a236d, #30044b);
}
/* #img-illustration-1 {
  width: 90%;
} */
/* ******************* BLOCK-TWO ************************* */
#block-two {
  background-color: #671770df;
  
}
/* #img-illustration-2 {
  width: 70%;
} */

/* ******************* BLOCK-THREE ************************* */
/* ............... CAROLINE ............... */
#block-three {
  background-color: #510539;
}

.container-card-caroline, #block-four {
  background-color: #671770df;
}

.title-card-caroline {
  color: #fac75f;
}
#caroline {
  border-radius: 50%;
  width: 70%;
}

.card-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8rem;
}

/* ******************* BLOCK-FOUR *************************  */
#block-four {
  /* background-color: #671770df; */
  padding: 0;
}
/* .................... COLUMNA 1 .................... */
/* ESTILOS FORMULARIO */
.background-form {
  background-color:#510539;
  /* color: #ffff99; */
}

/* #img-form {
  width: 90%;
} */

.form-check-label,
.invalid-feedback {
  font-size: 0.8rem;
  color: var(--bs-form-invalid-color);
}
.form-check-input:invalid ~ .form-check-label {
  color: var(--bs-form-invalid-color);
}
.was-validated .form-control:invalid {
  border-color: #fff477;
}

#text-reembolso {
  font-size: 0.8rem;
}

#btn-form {
  background-color: #a501b4;
  width: 9rem;
  font-size: 0.75rem;
  color: #fcff4a;
}

#btn-form:hover {
  background-color: #791e82;
  color: #f6ff7a;
}

/* .................... COLUMNA A de COLUMNA 2 .................... */

#paragraph-course-details {
  font-size: 0.99rem;
} /* medidas caja detalles del curso  */

.descuentos,
.beneficios {
  font-size: 0.9rem;
}

hr {
  border: 0;
  height: 2px;
  background-color: #f4a2fb;
}

/* .................... COLUMNA B .................... */

#modules-themes {
  /* background-color: #af92f7;color para visualizacion del elemento */
  width: 100%;
} /* ancho caja details */

.content-module {
  /* background-color: red; color para visualizacion del elemento */
  width: 100%;
  font-size: 0.8rem;
  line-height: 2;
} /* estilo interior summary */

/* ******************* FOOTER *************************  */
footer {
  background-color: #510539;
  padding: 20px;
}

/* ******************* MEDIA QUERIES *************************  */

/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */

@media (min-width: 320px) {
  #img-illustration-1 {
    width: 90%;
  }
}

@media (min-width: 320px) {
  #img-illustration-2,
  #img-form {
    width: 70%;
  }
}
@media (min-width: 320px) {
#caroline{
  width: 40%;
}
}

@media (min-width: 320px) {
  .mx-3 {
    margin-left: 3.9rem !important;
  }
}
@media (min-width: 320px) {
  .mt-5 {
    margin-bottom: 2rem !important;
  }
}
@media (min-width: 320px) {
  #paragraph-course-details {
    margin-top: 1rem;
  }
}
@media (min-width: 320px) {
  .me-4 {
    margin-right: 0.1rem !important;
  }
}

@media (min-width: 576px) {
  .me-4 {
    margin-right: 1.5rem !important;
  }
}
@media (min-width: 576px) {
#caroline{
  width: 80%;
}
}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .me-4 {
    margin-right: 1.5rem !important;
  }
}
@media (min-width: 768px) {
  #caroline{
    width: 80%;
  }
  }
/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .me-4 {
    margin-right: 1.5rem !important;
  }
}
@media (min-width: 992px) {
  #caroline{
    width: 80%;
  }
  }
/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .me-4 {
    margin-right: 1.5rem !important;
  }
}
@media (min-width: 1200px) {
  #caroline{
    width: 80%;
  }
  }
/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .me-4 {
    margin-right: 1.5rem !important;
  }
}
@media (min-width: 1400px) {
  #caroline{
    width: 80%;
  }
  }